.sec_sp {
    margin-bottom: calc(3rem + 5.128vw)
}

.section-title {
    font-size: 45px;
}

.text-end {
    margin-right: 3rem;
}

@media (max-width: 999px) {
    .text-end {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}