.intro_sec {
    min-height: 700px;
    display: flex;
    height: auto !important;
    align-items: center;
    justify-content: center;
}

@media (max-width: 999px) {
    .intro_sec {
        display: flex;
        flex-direction: column;
        height: auto !important;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .ac_btn {
        margin-bottom: 30px;
    }
}

.intro_sec .text {
    width: 50%;
}

@media (max-width: 999px) {
    .intro_sec .text {
        width: 100%;
    }
}

.intro_sec .intro {
    max-width: 100vw;
    margin: 0 auto;
}

@media (max-width: 999px) {
    .intro_sec .intro {
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.intro_sec .text h1 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.btn-portfolio {
    background: var(--primary-color);
    border-radius: 0;
}

.btn-portfolio a {
    color: #333;
    text-decoration: none;
}

.ac_btn {
    padding: 4px 20px;
    color: var(--secondary-color);
    position: relative;
    border: var(--secondary-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 0;
    margin-right: 20px;
    margin-left: 12px;
}

.ac_btn a {
    text-decoration: none;
}

.ac_btn:hover {
    box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
}

.ac_btn:hover .one {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .two {
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .three {
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn:hover .four {
    transform: translate3d(0px, 0px, 0px);
}

.ac_btn .ring {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    transform: translate3d(0px, 90px, 0px);
}

.ac_btn .one {
    background-color: #333;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

.ac_btn .two {
    background-color: var(--primary-color);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

.ac_btn .three {
    background-color: var(--secondary-color);
    z-index: -2;
    transition: all 0.7s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -3;
}

#button_p {
    background: var(--secondary-color);
    color: var(--primary-color);
}

#button_p:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

#button_h:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
