.stick_follow_icon {
    top: 40%;
    left: 30px;
    width: 30px;
    height: 100px;
    position: fixed;
    margin-top: -80px; 
}

.stick_follow_icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.stick_follow_icon svg {
    width: 1.4em;
    height: 1.4em;
    fill: var(--text-color)
}

.stick_follow_icon ul li {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
    transition: all .3s;
}

@media only screen and (max-width: 991px) {
    .stick_follow_icon {
        width: unset;
        height: unset;
        position: static;
        margin-top: unset;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 40px 0;
        align-items: center;
    }

    .stick_follow_icon svg {
        width: 1.6em;
        height: 1.6em;
    }

    .stick_follow_icon ul {
        margin-bottom: 20px;
    }

    .stick_follow_icon ul li {
        display: inline;
        margin-bottom: 29px;
        margin-right: 30px;
    }
}